---
layout: default_2024
---

<div id="program">
  <div class="row">
    <p>
      The paper PDFs can be accessed by clicking on the title of each paper. For incorrect links or fixes, please create a pull request at
      <a href="https://github.com/rlbrew-workshop/rlbrew-workshop.github.io">https://github.com/rlbrew-workshop/rlbrew-workshop.github.io</a>.
    </p>
  </div>

  {% for session in site.data.sessions_2024 %}
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Poster Presentations (PDF)</th>
          <th>Authors</th>
        </tr>
      </thead>
      <tbody>
        {% for paper in session.papers %}
        {% if paper.kind == "poster" %}
        <tr>
          <td>
            <span><b><a href="{{ paper.camera_ready }}">{{ paper.title }}</a></b></span>
          </td>
          <td>{{ paper.authors }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
